@use '@angular/material' as mat;
@include mat.core();
// dark theme
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-yellow-palette),
      accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// light theme
$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-grey-palette),
      accent: mat.m2-define-palette(mat.$m2-yellow-palette),
    ),
  )
);

// Apply the light theme by default

@include mat.all-component-themes($light-theme);

.dark-theme {
  background: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 900);
  color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 50);
  @include mat.all-component-colors($dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
